@model Library.Models.Book

@{
    ViewBag.Title = "Hinzufügen";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.Partial("Partial/_create", Model)
    @Helpers.error()
    @Helpers.createActions()
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
