@model Library.Models.Book

@{
    ViewBag.Title = "Entfernen";
}

<h2>@ViewBag.Title</h2>

<h3>Sind Sie sicher, dass Sie dieses Buch entfernen möchten?</h3>

@Html.Partial("Partial/_details", Model)

<h4>This actiton will also delete the entire borrowing history of this book</h4>
 
@Helpers.error()

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Helpers.deleteActions(new { id = Model.id })
}