@model Library.Models.Person

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<fieldset>
    <legend>Person-Details</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.firstName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.firstName)
        @Html.ValidationMessageFor(model => model.firstName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.lastName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.lastName)
        @Html.ValidationMessageFor(model => model.lastName)
    </div>

</fieldset>