@model IEnumerable<Library.Models.Borrowing>

<fieldset>
    <legend>Ausleihverlauf</legend>

    @if (Model.Count() == 0)
    {
        @Helpers.listEmpty()
    }
    else
    {
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.person.fullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.start_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.end_date)
                </th>
                <th></th>
            </tr>


            @foreach (var item in Model.OrderByDescending(x => x.end_date))
            {
                <tr>
                    <td>
                        @Helpers.personLink(item.person)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.start_date)
                    </td>
                    <td align="center">
                        @Helpers.endBorrowing(item, @Html.DisplayFor(modelItem => item.end_date))
                    </td>
                </tr>
            }

        </table>
    }
</fieldset>